:root {
    --clr-bg:#BD73D6;
    --clr-primary:#312f2f;
    --clr-secondary:#182152;
    --error-color: #B93D40;

    /* Sizes */
    --size--xxs: 0.5rem;
    --size--xs: 0.75rem;
    --size--sm: 0.875rem;
    --size--base: 1rem;
    --size--lg: 1.125rem;
    --size--xl: 1.25rem;
    --size--2xl: 1.5rem;
    --size--3xl: 1.875rem;
    --size--4xl: 2.25rem;
    --size--5xl: 3rem;
    --size--6xl: 3.75rem;
    --size--7xl: 4.5rem;
    --size--8xl: 6rem;
    --size--9xl: 8rem;
    --size--10xl: 10rem;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Slabo 27px", serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--clr-bg);
    color: var(--clr-primary);
    height: 100%;
}

img{
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.animation-img {
    height: 100vh;
    overflow: hidden;
}

.animation-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-container {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}

.form__title {
    font-size: var(--size--6xl);
    letter-spacing: 1px;
}

.form__description::after {
  content: "";
  display: block;
  width: 100%;
  height: 1.5px;
  background: rgba(0,0,0,0.2);
  margin-top: 14px;
}


.form__description {
    font-size: var(--size--2xl);
    opacity: 0.85;
}

.form-row {
    display: flex;
    gap: 5rem;
    margin-bottom: 20px;
}

.input__box label {
    font-size: var(--size--base);
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 6px;
    display: block;
    text-transform: uppercase;
}

.input__box input {
    width: 100%;
    padding: 14px 4px;
    background: transparent;
    border: none;
    border-radius: 4px;
    border-bottom: 0.5px solid var(--clr-secondary);
    font-size: var(--size--base);
    transition: 0.4s ease;
}

.input__box input:focus {
    outline: none;
    border: 1px solid var(--clr-primary);
    box-shadow: 0px 4px 2px 0px #312f2fa3;
}

.submit__btn {
    background-color: var(--clr-secondary);
    color: whitesmoke;
    border-radius: 4px;
    margin: 2rem 0;
    padding: 0.5rem;
    font-size: var(--size--sm);
    letter-spacing: 2px;
    transition: 0.3s ease;
}

.submit__btn:hover {
    color: white;
    scale: 1.05;
}

.login__option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.login__btn {
    color: var(--clr-secondary);
    font-weight: 600;
}

.login__btn:hover {
    scale: 1.05;
}